.header{
    background-color: #2c3e50;
    padding-top: 1px;
    padding-left: 25px;
    padding-bottom: 5px;
    color: white;
    margin-bottom: 20px;
}

.closedTarget{
    border-radius: 50%;
    border: 2px solid black;
}

.markScore{
    font-size: 40px;
    margin: 0 auto;
    width: 31px;
}

.score{
    font-size: 30px;
}
